@model IEnumerable<RentCar.Models.Inspeccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Rentas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="Rentas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ralladuras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCombustible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GomaRepuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoturaCristal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GomaSupDerecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GomaSupIzquierda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GomaTraseraDerecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GomaTraseraIzquierda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ralladuras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCombustible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GomaRepuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoturaCristal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GomaSupDerecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GomaSupIzquierda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GomaTraseraDerecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GomaTraseraIzquierda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renta.Cliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning text-center"><i class="far fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-info"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-user-times"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#Rentas').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    });
</script>
