@model RentCar.Models.Cliente

@{
    ViewData["Title"] = "Clientes";
}

<h1>Detalles del Client</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoTarjetaCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoTarjetaCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimiteCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimiteCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPersona)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-info">Volvel a la Lista</a>
</div>
