@model IEnumerable<RentCar.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Nuevo Cliente</a>
</p>
<table class="table" id="Clientes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoTarjetaCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimiteCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPersona)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>*@
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoTarjetaCredito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LimiteCredito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPersona)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning text-center"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-user-times"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#Clientes').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    });
</script>



